@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

/* * {box-sizing: border-box}

* { margin: 0; padding: 0; } */
/* article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; } */
body {
  background-color: #242526;
  color: #f1f1f1;
  margin: 0 auto;
  padding: 0;
}

h1{
  font-size: 100px;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  /* padding-top: 50px; */
  color: transparent;
  text-shadow: 0 0 9px rgba(255, 101, 89);
  */ color: rgba(255, 101, 89);
}

h2{
  font-size: 40px;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -1px;
  /* padding-top: 50px; */
  color: transparent;
  text-shadow: 0 0 4px rgba(255, 101, 89);
  */ color: rgba(255, 101, 89);
}

p {
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 300;
  line-height: 120%;
  padding-top: 0;
}

b {
  font-weight: 600;
}

.footnote {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 12px;
  line-height: 100%;
  padding-top: 5px;
}

.projects {
  float: left;
  padding-top: 40px;
}

.caption {
  width: 90%;
  font-weight: 600;
  font-size: 15px;
  font-style: italic;
  /* height: 100%; */
  text-transform: uppercase;
}

h3{
  display: block;
  background-color: inherit;
  color: #f1f1f1;
  /* padding: 22px 0px; */
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 2.3rem;
  letter-spacing: -1px;
  font-weight: 500;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'IBM Plex Sans', sans-serif;
}

/**************************OVERLAY********************************/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/**********************FIXED NAVIGATION**************************/
.navbar {
  overflow: hidden;
  background-color: none;
  position: absolute;
  z-index: 105;
  width: 50%;
}

.logo a {
  float: left;
  border: 0px solid;
  display: block;
  color: #f2f2f2;
  /* background-color: #f2f2f2; */
  text-align: center;
  /* padding: 14px 16px; */
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  letter-spacing: -2px;
}

/* .logo a:hover {
  color: transparent;
  text-shadow: 0 0 4px #f2f2f2;
  text-decoration: line-through;
  font-style: italic;
} */

.logo a:hover{
  filter: blur(2px);
}

.navigation a {
  border: 0px solid;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  letter-spacing: -2px;
}

.navigation a:hover {
  /* font-family: 'Playfair Display', serif; */
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: italic;
  text-decoration: line-through;
  letter-spacing: -2px;
}

/**********************DROPDOWN***********************************/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: none;
  z-index: 101;
}

li {
  float: right;
}

ul {
  float: right;
}

li a, .dropbtn {
  display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
}

li a:hover, .dropdown:hover .dropbtn {
  text-decoration: line-through;
  font-style: italic;
  /* background-color: red; */
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  text-align: right;
  display: none;
  position: absolute;
  margin-top: -40px;
  margin-right: 100px;
  /* background-color: black; */
  min-width: 300px;
  right: 10%;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* z-index: 200; */
}

.dropdown-content a {
  color: white;
  padding: 0px 0px;
  text-decoration: none;
  /* display: block; */
  display: inline-block;
  text-align: right;
  font-size: 17px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 200;
  letter-spacing: -1px;
}

.dropdown-content a:hover {
  text-decoration: line-through;
  font-style: italic;
  /* background-color: #f1f1f1; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*****************************TOP BUTTON*******************************/
#myBtn {
  transform-origin: 0 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 0; /* Place the button 30px from the right */
  z-index: 999; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #242526 ; /* Set a background color */
  color: #f2f2f2;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0; /* Some padding */
  /* border-radius: 10px; /* Rounded corners */ */
  font-size: 17px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  letter-spacing: -0.5px;

}

#myBtn:hover {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: italic;
  text-decoration: line-through;
  letter-spacing: -0.5px;
}

/*************************INTRO**********************************/

#intro {
  /* position: relative; */
  z-index: -1;
}

#introText {
  /* padding: 50px 0; */
  padding-top: 50px;
  /* position: relative; */
}

#introText h2 {
  /* text-align: left; */
  color: black;
  /* display: block; */
  padding: 0px;
  font-size: 170px;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -10px;
}

.hi {
  /* width: 100%;
   display: block; */
  position: relative;

}

.job {

  /* position: absolute; */
  /* top: 50%; */
  /* text-align: right; */
}

@-webkit-keyframes blackblur {
  from {
    text-shadow: 0 0 72px black;
    color: transparent;
  }

  to {
    text-shadow: 0;
    color: black;
  }
}

.textshadow .foreverblur {
  text-shadow: 0 0 32px white;
  color: transparent;
}

#intro span {
  text-shadow: 0 0 4px rgba(255, 101, 89);
  color: transparent;
}

#introArrow h2 {
  color: white;
  position: absolute;
  top: 95%;
  left: 15px;
  font-size: 200px;
}

/**********************HOVER LEFT MENU**************************/
/* Style the tab */
.tab {
  postion: absolute;
  float: left;
  height: 100%;
  z-index: 99;
  /* padding-top: 20%; */
}

.tab a {
  text-decoration: none;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #f1f1f1;
  /* padding: 22px 0px; */
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 2.3rem;
  letter-spacing: -1px;
  font-weight: 500;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
  /* font-family: 'Playfair Display', serif; */
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* Create an active/current "tab button" class */
.tab button.active {
  /* border-top: 2px solid #f1f1f1;
  border-bottom: 2px solid #f1f1f1; */
  text-decoration: line-through;
}

/* Style the tab content */
.tabcontent {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  /* padding-left: 20%; */
  top: 10%;
  float: left;
  /* padding: 0px 12px; */
  */
  /* border: none;
  border-left: none;*/
  display: none;
  z-index: 50;
}

/* Clear floats after the tab */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#London {}

/*************************RANDOM IMAGES*******************/
.gridContainer {
  width: 70%;
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.hoverImg {
  filter: grayscale() drop-shadow(20px 20px 20px #242526);
  display: block;
  position: absolute;
  max-height: 400px;
  max-width: 400px;
  height: auto;
  transition: all 0.5s ease;
  transform: translate(var(--x-position), var(--y-position)) scale(0.75);
}

/* .hoverImg:hover {
   filter: none; */
/* transform: translate(var(--x-position), var(--y-position)) scale(1.25); */
/* z-index: 999 !important;
      transition: all 0.1s ease;
} */
/*****************************FOOTER*****************************/
footer {
  position: relative;
  padding-top: 100px;
  text-align: right;
}

/*****************************ARTISTS PORTFOLIO********************/
.mockup_img {
  padding-top: 100px;
  padding-bottom: 100px;
}

.design_plan_list li {
  width: 80%;
  float: left;
  list-style-type: none;
  list-style-position: outside;
  font-family: 'Hanken Grotesk', sans-serif;
}

.design_plan_multiple li {
  width: 90%;
  float: left;
  list-style-type: none;
  font-family: 'Hanken Grotesk', sans-serif;
  padding-bottom: 15px;
  line-height: 1.2;
}

.design_plan li {
  width: 90%;
  float: left;
  list-style-type: none;
  font-family: 'Hanken Grotesk', sans-serif;
  padding-bottom: 10px;
}

.pros_cons li {
  padding-bottom: 15px;
  line-height: 1.2;
  width: 80%;
  float: left;
  list-style-type: none;
  list-style-position: outside;
  font-family: 'Hanken Grotesk', sans-serif;
}

/*******************COMFOOD PORTFOLIO***************/
.perspective li{
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 300;
  padding-top: 15px;
  list-style-type: none;
  display: list-item;
  width: 100%;
  list-style-position: outside;
  line-height: 105%;

}

/**********************RESUME*******************/
.edu_list li{
  display: list-item;
  width: 100%;
  list-style-position: outside;
  /* padding-inline-start: 1ch; */
}

.cert_list{
  display: list-item;
  width: 100%;
  list-style-position: outside;
}

/* .resume_link a{
  text-decoration: none;
  color: #f2f2f2;
}

.resume_link a:hover{
  font-style: italic;
  text-decoration: line-through;
} */

.resume_link a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  letter-spacing: -1.5px;
  font-style: normal;
  line-height: 0.5;
}

.resume_link a:hover {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: italic;
  text-decoration: line-through;
}

/***********************EPUB**********************/
.interactive li{
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 300;
  padding-top: 15px;
  list-style-type: none;
  display: list-item;
  width: 100%;
  float: left;
  list-style-position: outside;
  line-height: 105%;
}

/*********************SKILL*****************************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);


.skill_container {
  /* margin-top: 20px; */
}

/* .title {
  font-weight: bold;
  font-size: 20px;
  color: #db3a34;
} */

.bar {
  width: 90%;
  height: 10px;
  background: #f1f1f1;
  /* border-radius: 5px; */
  position: relative;
  transition: all 2s linear;
}

.bar-1,
.my-skills {
  width: 80%;
  margin-bottom: 10px;
  /* margin: 10px auto 25px; */
}

.bar-inner {
  width: 0;
  height: 10px;
  line-height: 20px;
  background: #db3a34;
  /* border-radius: 5px 0 0 5px; */
}

.bar-percent {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 18px;
}
